* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    font-family: 'Fira Code', 'Consolas', 'Courier New', monospace;
    background-color: #404040;
    color: #fff;
    flex-direction: column;
}

/* -------------------- Homepage styling -------------------- */
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.logo {
    max-width: 40%;
    height: auto;
    margin-left: 5%;
    display: block;
}

.content {
    margin-top: -50px;
    margin-bottom: 100px;
}

.title {
    text-align: center;
    margin-top: 2em;
  }
  
  .title h1 {
    margin: 0;
  }

.subtitle h2 {
    font-size: 18px;
    text-align: center;
    margin-top: 2px;
}

.description-container p {
    padding: 10px;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
}
/* ------------------- Nav bar styling -------------------------- */

/* Top nav bar */
.nav-bar {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #a42f89;
    padding: 1em;
    text-align: center;
    z-index: 1000;
}
.nav-bar a {
    color: white;
    margin-right: 1em;
    text-decoration: none;
}
.nav-bar a:hover {
    text-decoration: underline;
}

/* Bottom nav bar */
.botton-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
.bottom-nav a {
    color: black;
    font-weight: bold;
}
.nav-bar a:hover {
    text-decoration: overline;
}

/* ------------------- Dictation Styling ------------------------------- */
.dictation-content {
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    flex-direction: column;
}

.dictation-title {
    margin-top: 20px;
    text-align: center;
}

/*  ----------- Button Styling --------------- */
.button-container{
    margin-top: 30px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    gap:10px;
}

/* Play button styling */
.play-button{
    background-color: #717171;
    color: white;
    padding: 14px 18px;
    font-size: 3rem;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: none; 
    outline: none;
}

.play-button:hover{
    background-color: #535353;
    outline: none;
}

/* Pause Button Styling */
.pause-button{
    background-color: #717171;
    color: white;
    padding: 14px 18px;
    font-size: 3rem;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: none; 
    outline: none;
}

.pause-button:hover{
    background-color: #535353;
    outline: none;
}

/* Stop Button */
.stop-button{
    background-color: #717171;
    color: white;
    padding: 14px 18px;
    font-size: 3rem;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: none; 
    outline: none;
}

.stop-button:hover{
    background-color: #535353;
    outline: none;
}

/* Transcribe Button */
.transcribe-button{
    background-color: #717171;
    color: white;
    padding: 14px 18px;
    font-size: 3rem;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: none; 
    outline: none;
}

.transcribe-button:hover{
    background-color: #535353;
    outline: none;
}

/* Clean Button Styling */
.clean-button{
    background-color: #717171;
    color: white;
    padding: 14px 18px;
    font-size: 3rem;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: none; 
    outline: none;
}

.clean-button:hover{
    background-color: #535353;
    outline: none;
}

.pdf-button{
    background-color: #717171;
    color: white;
    padding: 8px 12px;
    font-size: 1rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: none; 
    outline: none;
}
.pdf-button:hover{
    background-color: #535353;
    outline: none;
}


#transcription-box {
    margin-top: 20px;
}

/* Waveform Styling */
canvas {
    background-color: black;
    border-radius: 8px;
    border: 1px solid white;
}

/* Loading bar styling */
.loading {
    text-align: center;
    margin: 10px;
    font-weight: bold;
    font-family: sans-serif;
}

.spinner {
    border: 4px solid #ccc;
    border-top: 4px solid #333;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Progress Bar */
.progress-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 10px;
    height: 20px;
    margin-top: 10px;
}
.bar {
    width: 0%; 
    height: 20px;
    background-color: #a559bd;
    border-radius: 10px;
    transition: width 0.2s ease;
}

/* -------------------------- Clean Up section ---------------------------- */
.clean-title {
    margin-top: 30px;
    margin-bottom: 20px;
}

/* -------------------- Media changes with different screens ---------------------------- */
/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row {
      flex-direction: column;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }