<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="image/png" sizes="32x32" rel="icon" href="/static/dictation_logo.png">
    <link rel="stylesheet" href="/static/css/styles.css?v=5">
    <title>writeEZ</title>
</head>

<body>
    <div class="nav-bar">
        <nav>
            <a href="/">Home</a>
            <a href="/dictation">Dictation</a>
            <a href="/Clean-Up">Clean-Up</a>
        </nav>
    </div>
    <!-- audio type supports any type that browser supports -->
    <!-- <audio controls> 
        <source src="./audio/sample.mp3" type="audio/mpeg">
        <p>File type not supported!</p>
    </audio> -->
    <div class="content">
        <div class="title">
            <h1>
                writeEZ
            </h1>
        </div>
        
        <div class="subtitle">
            <h2>
                Have a hard time writing? Write EZ now!
            </h2>
        </div>

        <div class="description-container">
            <p>
                To get started: <br>
                Simply record yourself talking to create a text transcription by using the dictation option. <br>
                <br>
                Don't like what you said? <br>
                Edit the text manually or allow AI to do it for you by using the 'clean up' option below!  
            </p>
        </div>
    </div>

    <div class="bottom-nav">
        <nav>
            <a href="/">Home</a>
            <a href="/dictation">Dictation</a>
            <a href="/Clean-Up">Clean-Up</a>
        </nav>
    </div>

    <script src="/static/js/main.js"></script>
</body>
</html>